* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --vermelho: #FF0502;
    --laranja: #FF6700;
    --amarelo: #FFAB00;
}

/** menu **/
nav {
    background-color: black;
}

nav a {
    color: white;
}

#menu a:hover {
    color: var(--laranja);
}

#menu {
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}
/** menu **/

/** cabeçalho **/
header {
    max-width: 1400px;
    margin: auto;
}

#cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#logo-top {
    width: 200px;
}

#img-30-anos {
    width: 400px;
}
/** cabeçalho **/

/** cabeçalho **/
#banner {
    width: 100%;
    margin-top: 20px;
}

.line {
    height: 10px;
    background-color: #d3d3d38e;
}
/** cabeçalho **/

/** main **/
main {
    max-width: 1400px;
    margin: auto;
}
/** main **/

/** parte1 **/
.parte1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.parte1 h2 {
    color: var(--laranja);
    padding: 30px;
    font-size: 1.7em;
}

.parte1 img {
    width: 300px;
}
/** parte1 **/

/** background **/
.background {
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
    margin-top: 20px;
}
/** background **/

/** parte2 **/
.parte2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 40px;
}

.parte2 h3 {
    font-size: 1.5em;
    color: #d3d3d38e;
    padding-top: 40px;
}

strong {
    color: var(--laranja);
}

.slogans {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.circ-frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circ-frase h4 {
    color: var(--laranja);
    font-size: 1.2em;
    margin-top: 15px;
}

.circulo {
    border: 2px solid var(--laranja);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/** parte2 **/

/** parte3 **/
.parte3 h2 {
    text-align: center;
    margin-top: 40px;
}

.contato {
    display: flex;
    background-color: #d3d3d38e;
    justify-content: space-between;
    margin-top: 40px;
    padding: 50px;
}

.contato p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.infos-contato {
    display: flex;
    flex-direction: column;
}

.infos-contato h5{
    font-weight: bold;
    font-size: 1em;
}

.form-email {
    display: flex;
    flex-direction: column;
}

.nome, .email, .mensagem {
    width: 30vw;
}

.mensagem {
    height: 100px;
}
/** parte3 **/